@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "Layout.cshtml";
}

<div class="alert alert-info">
    <h1>Gracias por tu compra</h1>
    <br />
    <p>Un correo de confirmación sera enviado a tu email</p>
</div>