@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "layoutSitioPimas.cshtml";
}
<section class="mbr-section article mbr-section__container mbr-after-navbar" id="content6-1h" style="background-color: rgb(255, 255, 255); padding-top: 215px; padding-bottom: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 lead"><img class="img-responsive" src="@Umbraco.Media(CurrentPage.ilustracion).url" width="600" height="800" alt=""/></div>
      	<div class="col-xs-12 col-md-6 lead">
			  <h3 class="mbr-section-title">
				  @Umbraco.Field("enlacesLbl", convertLineBreaks: true, removeParagraphTags: true)
			  </h3>
              @Umbraco.Field("enlacesTxt", removeParagraphTags: true)
		</div>
    </div>
  </div>
</section>
