<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<configSections>
		<sectionGroup xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@name='commerce')" name="commerce" type="System.Configuration.ConfigurationSectionGroup">
			<section name="catalogConfiguration" type="UCommerce.Infrastructure.Configuration.CatalogConfigurationSection, UCommerce.Infrastructure" />
			<section name="runtimeConfiguration" type="UCommerce.Infrastructure.Configuration.RuntimeConfigurationSection, UCommerce.Infrastructure" />
			<section name="securityConfiguration" type="UCommerce.Infrastructure.Configuration.SecurityConfigurationSection, UCommerce.Infrastructure" />
		</sectionGroup>
		<section xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@name='syscache')" name="syscache" type="NHibernate.Caches.SysCache.SysCacheSectionHandler, NHibernate.Caches.SysCache, Version=4.0.0.4000, Culture=neutral, PublicKeyToken=6876f2ea66c9f443" requirePermission="false" />
		<section xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@name='clientDependency')" name="clientDependency" type="ClientDependency.Core.Config.ClientDependencySection, ClientDependency.Core, Version=1.8.2.1" requirePermission="false"/>
	</configSections>

	<appSettings>
		<add key="Raven/AnonymousAccess" value="All" xdt:Transform="Insert"/>
	</appSettings>
	<system.web>
		<pages enableEventValidation="false" xdt:Transform="SetAttributes(enableEventValidation)">
			<controls>
				<add xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@tagPrefix='commerce')" tagPrefix="commerce" namespace="UCommerce.Presentation.Web.Controls" assembly="UCommerce.Presentation" />
			</controls>
		</pages>
		<httpModules xdt:Transform="InsertIfMissing"></httpModules>
		<httpModules>
			<add xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@name='PerRequestLifestyle')" name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor, Version=3.3.0.0, Culture=neutral, PublicKeyToken=407dd0808d44fbdc" />
			<add xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@name='UCommerceInitializeModule')" name="UCommerceInitializeModule" type="UCommerce.Web.UI.InitializeAppsModule, UCommerce.Admin"/>
		</httpModules>
		<httpHandlers xdt:Transform="InsertIfMissing"></httpHandlers>
		<httpHandlers>
			<add xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@path='PaymentRequest.axd')" verb="*" path="PaymentRequest.axd" type="UCommerce.Transactions.Payments.PaymentRequestForm, UCommerce" />
			<add xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@path='PaymentProcessor.axd')" verb="*" path="PaymentProcessor.axd" type="UCommerce.Transactions.Payments.PaymentProcessor, UCommerce" />
		</httpHandlers>
	</system.web>

	<commerce xdt:Transform="Insert">
		<runtimeConfiguration
			enableCache="true"
			cacheProvider="NHibernate.Caches.SysCache.SysCacheProvider, NHibernate.Caches.SysCache, Version=4.0.0.4000, Culture=neutral, PublicKeyToken=6876f2ea66c9f443"
			connectionString="(auto)"/>
		<catalogConfiguration defaultCultureCode="en-US" enforceCategoryNameUniquenessWithinCatalogs="true" />
		<securityConfiguration enable="true" />
	</commerce>
	<syscache xdt:Transform="Insert">
		<!-- Cache catalog objects for 60 mins before refreshing -->
		<cache region="CatalogFoundation" expiration="3600" priority="5" />
		<cache region="MarketingFoundation" expiration="3600" priority="5" />
		<cache region="SecurityFoundation" expiration="3600" priority="5" />
		<cache region="Backend" expiration="3600" priority="5" />
	</syscache>
	<location path="ucommerceapi" xdt:Transform="Insert" xdt:Locator="Condition(@path='ucommerceapi')">
		<system.web>
			<httpHandlers>
				<add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
			</httpHandlers>
		</system.web>
		<system.webServer>
			<modules runAllManagedModulesForAllRequests="true">
				<add name="UCommerceAppsInitializeModule" type="UCommerce.Web.UI.InitializeAppsModule, UCommerce.Admin" xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@name='UCommerceAppsInitializeModule')" />
				<add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core, Version=1.8.2.1, Culture=neutral" xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@name='ClientDependencyModule')"/>
			</modules>
			<validation validateIntegratedModeConfiguration="false" />
			<handlers>
				<add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
			</handlers>
		</system.webServer>
	</location>
</configuration>
