<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <httpModules>
      <add name="UCommerceInitializeModule" type="UCommerce.Web.UI.InitializeAppsModule, UCommerce.Admin" xdt:Locator="Condition(@name='UCommerceInstallationModule')" xdt:Transform="InsertIfMissing"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="UCommerceInstallationModule" xdt:Locator="Condition(@name='UCommerceInstallationModule')" xdt:Transform="InsertIfMissing"/>
      <add name="UCommerceInstallationModule" type="UCommerce.Umbraco7.Installer.Installer, UCommerce.Umbraco7.Installer" xdt:Locator="Condition(@name='UCommerceInstallationModule')" xdt:Transform="InsertIfMissing"/>
    </modules>
  </system.webServer>
</configuration>