<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="SaveLanguage"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.Infrastructure.Globalization.Language, UCommerce.Infrastructure]], UCommerce"
				   type="UCommerce.Pipelines.Globalization.LanguagePipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${Language.CreateIndex}</value>
						<value>${Language.CreateIndexForFacets}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="Language.CreateIndex"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Infrastructure.Globalization.Language, UCommerce.Infrastructure]], UCommerce"
				   type="UCommerce.Pipelines.Globalization.Admin.LanguageSave.CreateIndexTask, UCommerce.Pipelines" />

		<component id="Language.CreateIndexForFacets"
			   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Infrastructure.Globalization.Language, UCommerce.Infrastructure]], UCommerce"
			   type="UCommerce.Pipelines.Globalization.Admin.LanguageSave.CreateIndexForFacetsTask, UCommerce.Pipelines" />
	</components>
</configuration>