@model Plataforma.Areas.PCD.Models.estado_venta

@{
    ViewBag.Title = "Detalles";
}

<div class="col-md-12">
    <h1 class="class-forms">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
        Detalles
    </h1>
    <h6>Información asociada al estado de venta</h6>
    <br />
    <h4 class="class-forms">Estado de venta</h4>
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>
    </dl>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Volver al índice", "Index")
    </p>
</div>