@model Plataforma.Areas.PCD.Models.categoria_articulo

@{
    ViewBag.Title = "Eliminar";
}
<h1 class="class-forms">Eliminar</h1>
<h3 class="class-forms">¿Estas seguro de que deseas eliminar esta categoría de artículos?</h3>
<div class="col-md-12">
    <h4 class="class-forms">Categoría de artículos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver al indice", "Index")
        </div>
    }
</div>
