@model Plataforma.Areas.PCD.Models.pais
@{
    ViewBag.Title = "Eliminar";
}
<h1 class="class-forms">Eliminar</h1>
<h3 class="class-forms">¿Estas seguro de que quieres eliminar este pais?</h3>
<div class="col-lg-12">
    <h4 class="class-forms">Pais</h4>
    <dl class="dl-horizontal">
        <dt>
            Pais
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pais1)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver al indice", "Index")
        </div>
    }
</div>
