<?xml version="1.0"?>
<trees xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<add xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@alias='uc_ucommerceTree')" initialize="true" sortOrder="10" alias="uc_ucommerceTree" application="uCommerce" title="uCommerce" iconClosed="folder.gif" iconOpen="folder_o.gif" type="UCommerce.Umbraco7.Menu.LoaduCommerceTree,UCommerce.Umbraco7" />
</trees>