@{
    ViewBag.Title = "Inicio";
}
        <h2>PIMAS - Plataforma de Contenidos Digitales</h2>
        @if (Session["usuario"] == null)
        {
            Response.Redirect("~/PCD/Account/LogIn");
        }

