@{
    ViewBag.Title = "Cambio de Contraseña Incorrecto";
}
<h1 class="text-danger">Nombre de usuario erroneo.</h1>
<div class="col-md-12">
    <div id="contenido">
        <section class="jumbotron">
            <p>
                No existe un usuario que concuerde con ese nombre de usuario.
            </p>
        </section>
    </div>
</div>