.contentTree ul { padding: 0px; padding-left: 20px; margin: 0px; }
.contentTree ul li { margin-top: 5px; line-height: 5px;}
.contentTree input[type=checkbox] { margin-left: 5px; margin-top: 4px; }
.contentTree .treeLink  { height: 20px; line-height: 5px; }
.contentTree .treeItemExpandContainer { display: inline-block; position: relative; left: -16px; top: 13px; height: 0px;}
.contentTree .treeItemExpandContainer a { text-decoration: none; cursor: pointer; }
.contentTree .treeItemExpandContainer a span { width: 15px; height: 15px; display: inline-block;}
.contentTree .treeItemExpandContainer a.treeItemOpen span  { background-image: url("/umbraco/ucommerce/css/images/collapse.gif"); }
.contentTree .treeItemExpandContainer a.treeItemClosed span { background-image: url("/umbraco/ucommerce/css/images/expand.gif"); }
.contentTree .treeNodeIcon { width: auto; display: inline-block; cursor: pointer;height: 20px; background-repeat: no-repeat; background-position-y: 2px; }
.contentTree .treeNodeIcon .nodeName { margin-top: 6px; width: auto; display: inline-block; font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; padding-left: 5px; }