<?xml version="1.0"?>
<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<logger name="NHibernate" xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@name='NHibernate')">
		<level value="ERROR" />
	</logger>
	<logger name="NHibernate.SQL" xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@name='NHibernate.SQL')">
		<level value="ERROR" />
	</logger>
	<logger name="Raven" xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@name='Raven')">
		<level value="ERROR" />
	</logger>
</log4net>