<?xml version="1.0"?>
<dashBoard xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<section alias="uCommerce" xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@alias='uCommerce')">
		<areas>
			<area>uCommerce</area>
		</areas>
		<tab caption="Welcome">
			<control showOnce="true" addPanel="true" panelCaption="">
				views/dashboard/ucommerce/main.html
			</control>
		</tab>
	</section>
</dashBoard>