@{
    ViewBag.Title = "Acerca de...";
}

<link rel="stylesheet" type="text/css" href="~/Content/custombootstrap.css" />

<div class="col-lg-9">
    <div id="contenido">
        <section class="jumbo">
            <h2>@ViewBag.Title.</h2>
            <p>
                La Plataforma de Contenidos Digitales consiste en una administración de accesos a contenidos en formato digital a través de Internet. En ella se
                podrán diseñar y visualizar cursos, mediante libros digitales de Matemática, así como apoyo en otros formatos dinámicos e interactivos como videos
                y recursos multimedia.
            </p>
            <p>
                El acceso se contrata por periodos de tiempo determinados, puede contactarnos aqui: <a href="http://pimas.co.cr/index.php/contactenos">www.pimas.co.cr </a>
                para más información.
            </p>
        </section>
    </div>
</div>

