@{
    ViewBag.Title = "Contacto";
}
<link rel="stylesheet" type="text/css" href="~/Content/custombootstrap.css" />
<div class="col-lg-9">
    <div id="contenido">
        <section class="jumbo">
            <h2>@ViewBag.Title.</h2>
            <h3>@ViewBag.Message</h3>
            <p>
                Hatillo #2,<br />
                San José,<br />
                Costa Rica.<br />
                <abbr title="Telefonos:">2214-0965 / 8310-0573</abbr><br />
                <a href="mailto:editorial@pimas.co.cr">editorial@pimas.co.cr</a><br />
                Más información: <a href="http://pimas.co.cr/index.php/acerca-de-pimas">www.pimas.co.cr </a>
            </p> 
        </section>
    </div>
</div>
