<configuration>
	<components>

		<component id="Initialize"
			service="UCommerce.Pipelines.IPipeline`1[[UCommerce.Pipelines.Initialization.InitializeArgs, UCommerce.Pipelines]], UCommerce"
			type="UCommerce.Pipelines.Initialization.InitializePipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${Initialize.ServiceStackAppHostInit}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<component id="Initialize.ServiceStackAppHostInit"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.Initialization.InitializeArgs, UCommerce.Pipelines]], UCommerce"
			type="UCommerce.Web.Api.Pipelines.Initialize.ServiceStackAppHostInitTask, UCommerce.Web.Api" />

	</components>
</configuration>