<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="umbracoReservedPaths" value="~/umbraco,~/install/,~/ucommerceapi" xdt:Transform="SetAttributes(value)" xdt:Locator="Condition(@key='umbracoReservedPaths')" />
	</appSettings>
</configuration>