<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT inicio ANY>
<!ATTLIST inicio id ID #REQUIRED>
<!ELEMENT category ANY>
<!ATTLIST category id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT basket ANY>
<!ATTLIST basket id ID #REQUIRED>
<!ELEMENT billing ANY>
<!ATTLIST billing id ID #REQUIRED>
<!ELEMENT confirmation ANY>
<!ATTLIST confirmation id ID #REQUIRED>
<!ELEMENT payment ANY>
<!ATTLIST payment id ID #REQUIRED>
<!ELEMENT preview ANY>
<!ATTLIST preview id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT search ANY>
<!ATTLIST search id ID #REQUIRED>
<!ELEMENT shipping ANY>
<!ATTLIST shipping id ID #REQUIRED>
<!ELEMENT uCommerceEmail ANY>
<!ATTLIST uCommerceEmail id ID #REQUIRED>
<!ELEMENT test ANY>
<!ATTLIST test id ID #REQUIRED>
]>
<root id="-1">
  <inicio id="1051" key="6acfb27b-e89f-4226-905f-1cb16a0bc9f9" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-03-02T06:09:07" updateDate="2017-03-13T14:30:10" nodeName="Inicio" urlName="inicio" path="-1,1051" isDoc="" nodeType="1050" creatorName="Cesar Mauricio Obando Solano" writerName="Cesar Mauricio Obando Solano" writerID="0" template="1049" nodeTypeAlias="inicio" />
  <home id="1128" key="af06193f-5432-4449-80e7-5846fae3a47a" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-03-09T17:18:32" updateDate="2017-03-13T14:23:27" nodeName="Store" urlName="store" path="-1,1128" isDoc="" nodeType="1118" creatorName="Cesar Mauricio Obando Solano" writerName="Cesar Mauricio Obando Solano" writerID="0" template="0" nodeTypeAlias="home">
    <content><![CDATA[<h1>Welcome to Avenue Clothing</h1>
<h6>This is an example store which runs on uCommerce. It is designed to demonstrate some of the functionality that comes out-of-the-box and help developers get started with the awesome feature rich e-commerce package for Umbraco.</h6>]]></content>
    <basket id="1129" key="72822cc9-3227-4012-bccf-a1818da314e7" parentID="1128" level="2" creatorID="0" sortOrder="0" createDate="2017-03-09T17:18:33" updateDate="2017-03-09T23:50:40" nodeName="Basket" urlName="basket" path="-1,1128,1129" isDoc="" nodeType="1119" creatorName="Cesar Mauricio Obando Solano" writerName="Cesar Mauricio Obando Solano" writerID="0" template="0" nodeTypeAlias="basket">
      <shipping id="1130" key="48ef15bf-dde0-4142-af96-ded6e967052c" parentID="1129" level="3" creatorID="0" sortOrder="0" createDate="2017-03-09T17:18:34" updateDate="2017-03-09T17:19:41" nodeName="Shipping" urlName="shipping" path="-1,1128,1129,1130" isDoc="" nodeType="1126" creatorName="Cesar Mauricio Obando Solano" writerName="Cesar Mauricio Obando Solano" writerID="0" template="0" nodeTypeAlias="shipping" />
      <billing id="1131" key="535286c3-3360-4ab1-89dc-3fc839b482cd" parentID="1129" level="3" creatorID="0" sortOrder="1" createDate="2017-03-09T17:18:36" updateDate="2017-03-09T17:19:48" nodeName="Address" urlName="address" path="-1,1128,1129,1131" isDoc="" nodeType="1120" creatorName="Cesar Mauricio Obando Solano" writerName="Cesar Mauricio Obando Solano" writerID="0" template="0" nodeTypeAlias="billing" />
      <payment id="1132" key="992c9880-3508-4064-bfa2-fe58585ac790" parentID="1129" level="3" creatorID="0" sortOrder="2" createDate="2017-03-09T17:18:37" updateDate="2017-03-09T17:19:55" nodeName="Payment" urlName="payment" path="-1,1128,1129,1132" isDoc="" nodeType="1122" creatorName="Cesar Mauricio Obando Solano" writerName="Cesar Mauricio Obando Solano" writerID="0" template="0" nodeTypeAlias="payment" />
      <preview id="1133" key="64b8ca97-cb9a-489a-bb01-29256fdd2550" parentID="1129" level="3" creatorID="0" sortOrder="3" createDate="2017-03-09T17:18:38" updateDate="2017-03-09T17:20:02" nodeName="Preview" urlName="preview" path="-1,1128,1129,1133" isDoc="" nodeType="1123" creatorName="Cesar Mauricio Obando Solano" writerName="Cesar Mauricio Obando Solano" writerID="0" template="0" nodeTypeAlias="preview" />
      <confirmation id="1134" key="8fd8a71f-c7ed-4ad0-abe8-d80ed9134d70" parentID="1129" level="3" creatorID="0" sortOrder="4" createDate="2017-03-09T17:18:39" updateDate="2017-03-09T17:20:09" nodeName="Confirmation" urlName="confirmation" path="-1,1128,1129,1134" isDoc="" nodeType="1121" creatorName="Cesar Mauricio Obando Solano" writerName="Cesar Mauricio Obando Solano" writerID="0" template="0" nodeTypeAlias="confirmation" />
    </basket>
    <category id="1135" key="aa3de2d6-d1d9-4ada-9859-bd63879563f7" parentID="1128" level="2" creatorID="0" sortOrder="1" createDate="2017-03-09T17:18:40" updateDate="2017-03-09T23:50:50" nodeName="Catalog" urlName="catalog" path="-1,1128,1135" isDoc="" nodeType="1117" creatorName="Cesar Mauricio Obando Solano" writerName="Cesar Mauricio Obando Solano" writerID="0" template="0" nodeTypeAlias="category">
      <product id="1136" key="cfa156d5-4a44-4d6c-9ad3-d7f2563c240a" parentID="1135" level="3" creatorID="0" sortOrder="0" createDate="2017-03-09T17:18:41" updateDate="2017-03-09T17:20:23" nodeName="Product" urlName="product" path="-1,1128,1135,1136" isDoc="" nodeType="1124" creatorName="Cesar Mauricio Obando Solano" writerName="Cesar Mauricio Obando Solano" writerID="0" template="0" nodeTypeAlias="product" />
    </category>
    <search id="1137" key="f937b8a9-5ef6-4cf2-9d58-63d318922c5a" parentID="1128" level="2" creatorID="0" sortOrder="2" createDate="2017-03-09T17:18:42" updateDate="2017-03-09T17:20:30" nodeName="Search" urlName="search" path="-1,1128,1137" isDoc="" nodeType="1125" creatorName="Cesar Mauricio Obando Solano" writerName="Cesar Mauricio Obando Solano" writerID="0" template="0" nodeTypeAlias="search" />
    <uCommerceEmail id="1138" key="a778f2bf-2f74-4ea2-a0bf-ff455fa42a26" parentID="1128" level="2" creatorID="0" sortOrder="3" createDate="2017-03-09T17:18:44" updateDate="2017-03-09T17:20:37" nodeName="Emails" urlName="emails" path="-1,1128,1138" isDoc="" nodeType="1127" creatorName="Cesar Mauricio Obando Solano" writerName="Cesar Mauricio Obando Solano" writerID="0" template="0" nodeTypeAlias="uCommerceEmail">
      <umbracoNaviHide>1</umbracoNaviHide>
      <uCommerceEmail id="1139" key="43104e4b-8faf-4e3e-9620-9b68b8b0d3e5" parentID="1138" level="3" creatorID="0" sortOrder="0" createDate="2017-03-09T17:18:45" updateDate="2017-03-09T17:20:45" nodeName="Order Confirmation Email" urlName="order-confirmation-email" path="-1,1128,1138,1139" isDoc="" nodeType="1127" creatorName="Cesar Mauricio Obando Solano" writerName="Cesar Mauricio Obando Solano" writerID="0" template="0" nodeTypeAlias="uCommerceEmail">
        <umbracoNaviHide>1</umbracoNaviHide>
      </uCommerceEmail>
    </uCommerceEmail>
  </home>
</root>