<!DOCTYPE root[<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1053" key="2b3d7b27-31e2-4973-8219-cb4c3e5de5cf" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-01-19T16:24:08" updateDate="2017-01-19T16:24:15" nodeName="Home" urlName="home" path="-1,1053" isDoc="" nodeType="1052" creatorName="Cesar Mauricio Obando Solano" writerName="Cesar Mauricio Obando Solano" writerID="0" template="1050" nodeTypeAlias="home" />
</root>