
.propertypane {
	_width: 95%;
	position: relative;
	display: block;
	line-height: 1.1;
	background: #fff url(../../images/PropertyPane/propertyBackground.gif) top repeat-x;
	padding: 5px;
	margin: 0px 7px 7px 7px;
	border: 1px solid #d9d7d7;
	text-align: left;
	clear: both;
	float: none;
}

	.propertypane th {
		vertical-align: top;
		text-align: left;
		font-weight: bold;
		font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 12px;
		width: 16%;
	}

	.propertypane, .propertypane td {
		font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 12px;
	}

		.propertypane small {
			font-weight: normal;
			color: #666;
		}

.propertyItem {
	clear: both;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px !important;
	margin-top: 10px !important;
	margin-bottom: 5px !important;
	padding-bottom: 29px;
}

	.propertyItem:after {
		content: ".";
		visibility: hidden;
		display: block;
		height: 0;
		clear: both;
	}

.propertyName {
	font-weight: bold;
}

.propertyItemHeader {
	float: left;
	clear: left;
	font-weight: normal;
	line-height: 20px;
	width: 48%;
	word-wrap: break-word;
}

.propertyItemContent {
	clear: right;
	line-height: 20px;
	margin-left: 180px;
	min-width: 66.6%;
}

	.propertyItemContent.propertyItemContentSmall {
		margin-left: 140px;
	}

.propertyItemHeader.propertyItemContentSmall {
	max-width: 140px;
	word-wrap: break-word;
}

.propertyDescription {
	display: block;
	font-size: 11px;
	font-weight: normal;
	color: #b3b3b3 !important;
	text-decoration: none;
}

h2.propertyPaneTitel {
	font-size: 14px;
	color: #999;
	padding-bottom: 0px;
	line-height: 14px;
}

div.propertyPaneFooter {
	clear: both;
	height: 1px;
	overflow: hidden;
	color: #fff;
}

.propertyPaneTitel {
	display: none;
}

.shippingPane .propertyPaneTitel,.shippingPane .propertyPaneTitel {
	display: inherit;
}

