<configuration>
	<!-- Configuration for Umbraco 7 specific implementations -->
	<components>
		<!-- Services -->
		<component id="AuthenticationService"
				service="UCommerce.Security.IAuthenticationService, UCommerce"
				type="UCommerce.Umbraco7.Security.AuthenticationService, UCommerce.Umbraco7" />

		<component id="BackendLocalizationService"
				service="UCommerce.Presentation.Web.Pages.IBackendLocalizationService, UCommerce.Presentation"
				type="UCommerce.Umbraco7.Web.BackendLocalizationService, UCommerce.Umbraco7" />

		<component id="DomainService"
				service="UCommerce.Content.IDomainService, UCommerce"
				type="UCommerce.Umbraco7.Content.UmbracoDomainService, UCommerce.Umbraco7" />

		<component id="ImageService"
				service="UCommerce.Content.IImageService, UCommerce"
				type="UCommerce.Umbraco7.Content.UmbracoImageService, UCommerce.Umbraco7" />

		<component id="ContentService"
				service="UCommerce.Content.IContentService, UCommerce"
				type="UCommerce.Umbraco7.Content.UmbracoContentService, UCommerce.Umbraco7" />

		<component id="LoggingService"
				service="UCommerce.Infrastructure.Logging.ILoggingService, UCommerce.Infrastructure"
				type="UCommerce.Umbraco7.Logging.LoggingService, UCommerce.Umbraco7" />

		<component id="MemberService"
				service="UCommerce.Security.IMemberService, UCommerce"
				type="UCommerce.Umbraco7.Security.MemberService, UCommerce.Umbraco7" />

		<component id="UserGroupService"
				service="UCommerce.Security.IUserGroupService, UCommerce"
				type="UCommerce.Umbraco7.Security.UmbracoUserGroupService, UCommerce.Umbraco7" />
		
		<component id="UserService"
				service="UCommerce.Security.IUserService, UCommerce"
				type="UCommerce.Umbraco7.Security.UmbracoUserService, UCommerce.Umbraco7" >
			<parameters>
				<userGroupService>${UserGroupService}</userGroupService>
			</parameters>
		</component>

		<component id="LanguageService"
				service="UCommerce.Infrastructure.Globalization.ILanguageService, UCommerce.Infrastructure"
				type="UCommerce.Umbraco7.UmbracoLanguageService, UCommerce.Umbraco7" />

		<component id="CommerceConfigurationProvider"
				service="UCommerce.Infrastructure.Configuration.CommerceConfigurationProvider, UCommerce.Infrastructure"
				type="UCommerce.Infrastructure.Configuration.CommerceConfigurationProvider, UCommerce.Infrastructure" />

		<component id="UrlResolver"
				service="UCommerce.Presentation.Web.IUrlResolver, UCommerce.Presentation"
				type="UCommerce.Umbraco7.Web.WebPath, UCommerce.Umbraco7" />

		<!-- Content Tree services -->
		<component
				id="MediaControlFactory"
				service="UCommerce.Presentation.Web.Controls.IControlFactory, UCommerce.Presentation"
				type="UCommerce.Presentation.Web.Controls.Factories.ImagePickerControlFactory, UCommerce.Presentation"/>

		<component
				id="ContentControlFactory"
				service="UCommerce.Presentation.Web.Controls.IControlFactory, UCommerce.Presentation"
				type="UCommerce.Presentation.Web.Controls.Factories.ContentPickerControlFactory, UCommerce.Presentation"/>

		<component
				id="ImagePickerControlAdapter"
				service="UCommerce.Presentation.Web.Controls.IControlAdapter, UCommerce.Presentation"
				type="UCommerce.Presentation.Web.Controls.Adapters.ImagePickerControlAdapter, UCommerce.Presentation" />

		<component
				id="ContentPickerControlAdapter"
				service="UCommerce.Presentation.Web.Controls.IControlAdapter, UCommerce.Presentation"
				type="UCommerce.Presentation.Web.Controls.Adapters.ContentPickerControlAdapter, UCommerce.Presentation" />

		<component id="ContentNodeService" service="UCommerce.Web.Api.Services.Nodes.ITreeNodeService, UCommerce.Web.Api" type="UCommerce.Web.Api.Services.Nodes.Impl.ContentNodeService, UCommerce.Web.Api">
			<parameters>
				<serviceType>Content</serviceType>
				<treeNodeContentToTreeNodeConverter>${TreeServiceContentNodeConverter}</treeNodeContentToTreeNodeConverter>
				<treeContentService>${TreeServiceContentPicker}</treeContentService>
			</parameters>
		</component>

		<component id="ImageNodeService" service="UCommerce.Web.Api.Services.Nodes.ITreeNodeService, UCommerce.Web.Api" type="UCommerce.Web.Api.Services.Nodes.Impl.ContentNodeService, UCommerce.Web.Api">
			<parameters>
				<serviceType>Image</serviceType>
				<treeNodeContentToTreeNodeConverter>${TreeServiceImageNodeConverter}</treeNodeContentToTreeNodeConverter>
				<treeContentService>${TreeServiceImagePicker}</treeContentService>
			</parameters>
		</component>

		<!-- tree service -->
		<component id="TreeServiceContentPicker"
				service="UCommerce.Tree.ITreeContentService, UCommerce"
				type="UCommerce.Umbraco7.Content.Umbraco7ContentTreeService, UCommerce.Umbraco7" />

		<component id="TreeServiceImagePicker"
		  service="UCommerce.Tree.ITreeContentService, UCommerce"
		  type="UCommerce.Umbraco7.Content.Umbraco7ImageTreeService, UCommerce.Umbraco7" />

		<component id="TreeServiceContentNodeConverter"
		  service="UCommerce.Web.Api.Services.Nodes.ITreeNodeContentToTreeNodeConverter, UCommerce.Web.Api"
		  type="UCommerce.Umbraco7.Content.Umbraco7ContentNodeConverter, UCommerce.Umbraco7" />

		<component id="TreeServiceImageNodeConverter"
		  service="UCommerce.Web.Api.Services.Nodes.ITreeNodeContentToTreeNodeConverter, UCommerce.Web.Api"
		  type="UCommerce.Umbraco7.Content.Umbraco7ImageNodeConverter, UCommerce.Umbraco7" />

		<component
			id="TreeServiceShell"
			service="UCommerce.Tree.ITreeContentService, UCommerce"
			type="UCommerce.Tree.Impl.TreeContentService, UCommerce">
			<parameters>
				<RootNodeType>root</RootNodeType>
				<RootNodeHasAutoLoad>true</RootNodeHasAutoLoad>
				<RootNodeHasChildren>true</RootNodeHasChildren>
				<RootNodeName>uCommerce</RootNodeName>
				<RootNodeIcon>ucommerce-logo-icon.png</RootNodeIcon>
				<RootNodeItemGuid>3806A967-DD30-421F-A835-7D8DE80054B9</RootNodeItemGuid>
				<RootNodeId>-1</RootNodeId>
				<RootNodeParentId>10</RootNodeParentId>
				<contentProviders>
					<list type="UCommerce.Tree.ITreeContentProvider, UCommerce">
						<item>${UmbracoCatalogSectionProvider}</item>
						<item>${DefaultCatalogSearchItemProvider}</item>
						<item>${DefaultOrdersSectionProvider}</item>
						<item>${DefaultMarketingSectionProvider}</item>
						<item>${DefaultAnalyticsSectionProvider}</item>
						<item>${DefaultAppsRootSectionProvider}</item>
						<item>${DefaultRootSectionProvider}</item>
						<item>${DefaultSettingsAppsProvider}</item>
						<item>${DefaultSettingsAppsInstallerProvider}</item>
						<item>${DefaultSettingsAppsInstalledProvider}</item>
						<item>${DefaultSettingsRootSectionProvider}</item>
						<item>${DefaultSettingsCatalogProvider}</item>
						<item>${DefaultSettingsOrdersProvider}</item>
						<item>${DefaultSettingsEmailsProvider}</item>
						<item>${DefaultSettingsDefinitionsProvider}</item>
						<item>${DefaultSettingsSecurityProvider}</item>
					</list>
				</contentProviders>
			</parameters>
		</component>

		<component
			id ="UmbracoCatalogSectionProvider"
			service="UCommerce.Tree.ITreeContentProvider, UCommerce"
			type="UCommerce.Umbraco7.Providers.UmbracoCatalogSectionProvider, UCommerce.Umbraco7">
			<parameters>
				<considerProductsAsChildren>false</considerProductsAsChildren>
			</parameters>
		</component>
		
		<!-- Factories -->
		<component id="JavaScriptFactory"
				service="UCommerce.Presentation.UI.IJavaScriptFactory, UCommerce.Presentation"
				type="UCommerce.Umbraco7.UI.JavaScriptFactory, UCommerce.Umbraco7" />

		<!-- Others, only required by this CMS integration layer -->
		<component id="NodeHelper"
				service="UCommerce.Presentation.Menu.INodeHelper, UCommerce.Presentation"
				type="UCommerce.Umbraco7.Menu.NodeHelper, UCommerce.Umbraco7" />

		<!-- Resources -->
		<component id="ResourcesDependencyLoader"
		  service="ClientDependency.Core.Controls.ClientDependencyLoader, ClientDependency.Core"
		  type="UCommerce.Umbraco7.UI.Resources.ResourcesDependencyLoader, UCommerce.Umbraco7" />


		<component id="JavascriptResourcesIncludeList"
				   service="UCommerce.Presentation.UI.Resources.IResourcesIncludeList, UCommerce.Presentation"
				   type="UCommerce.Presentation.UI.Resources.Impl.JavascriptResourceIncludeList, UCommerce.Presentation" />

		<component id="ResourcesIncludeList"
				   service="UCommerce.Presentation.UI.Resources.IResourcesIncludeList, UCommerce.Presentation"
				   type="UCommerce.Umbraco7.UI.Resources.ResourcesIncludeList, UCommerce.Umbraco7" />

		<component id="ApplicationBootStrapper"
				service="UCommerce.Presentation.UI.Resources.IResourcesIncludeList, UCommerce.Presentation"
				type="UCommerce.Presentation.UI.Resources.Impl.ApplicationBootStrapper, UCommerce.Presentation" />

		<component id="WidgetResourcesIncludeList"
		service="UCommerce.Presentation.UI.Resources.IResourcesIncludeList, UCommerce.Presentation"
		type="UCommerce.Presentation.UI.Resources.Impl.WidgetResourcesIncludeList, UCommerce.Presentation" />

			<component id="controls.ucommerceMain"
				service="UCommerce.Presentation.UI.Resources.IResourcesControls, UCommerce.Presentation"
				type="UCommerce.Presentation.UI.Resources.Impl.ResourcesControls, UCommerce.Presentation" >
			<parameters>
				<resouresIncludeLists>
					<array>
						<item>${JavascriptResourcesIncludeList}</item>
						<item>${ResourcesIncludeList}</item>
						<item>${WidgetResourcesIncludeList}</item>
						<item>${ApplicationBootStrapper}</item>
					</array>
				</resouresIncludeLists>
			</parameters>
		</component>

		<component id="MediaPicker"
				   service="UCommerce.Tree.ITreeContentService, UCommerce"
				   type="UCommerce.Umbraco7.Content.Umbraco7ImageTreeService, UCommerce.Umbraco7" />

		<!-- Tree node converter -->
		<component id="UmbracoTreeNodeConverterService"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverterService, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.TreeNodeConverterService, UCommerce.Umbraco7" />
		
		<component
			id="TreeNodeConverter"
			service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
			type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.TreeNodeConverter, UCommerce.Umbraco7">
			<parameters>
				<treeNodeConverters>
					<array>
						<value>${CatalogRootNodeConverter}</value>
						<value>${CatalogSearchConverter}</value>
						<value>${ProductCatalogGroupConverter}</value>
						<value>${ProductCatalogConverter}</value>
						<value>${ProductCategoryConverter}</value>
						<value>${OrdersConverter}</value>
						<value>${OrderGroupConverter}</value>
						<value>${OrdersSearchConverter}</value>
						<value>${CampaignItemConverter}</value>
						<value>${CampaignConverter}</value>
						<value>${MarketingProductCatalogGroupConverter}</value>
						<value>${MarketingConverter}</value>
						<value>${AnalyticsConverter}</value>
						<value>${OrderanalyticsConverter}</value>
						<value>${ProductanalyticsConverter}</value>
						<value>${SettingsConverter}</value>
						<value>${SettingsAppsConverter}</value>
						<value>${SettingsAppsInstallerConverter}</value>
						<value>${SettingsCatalogConverter}</value>
						<value>${SettingsOrdersConverter}</value>
						<value>${SettingsEmailConverter}</value>
						<value>${SettingsDefinitionsConverter}</value>
						<value>${SettingsSecurityConverter}</value>
						<value>${SettingsSearchConverter}</value>
						<value>${SettingsCatalogPriceGroupsConverter}</value>
						<value>${SettingsCatalogProductRelationsConverter}</value>
						<value>${SettingsOrdersShippingMethodsConverter}</value>
						<value>${SettingsOrdersPaymentMethodsConverter}</value>
						<value>${SettingsOrdersCountriesConverter}</value>
						<value>${SettingsOrdersCurrenciesConverter}</value>
						<value>${SettingsOrdersOrderNumbersConverter}</value>
						<value>${SettingsEmailProfilesConverter}</value>
						<value>${SettingsEmailTypesConverter}</value>
						<value>${SettingsEmailTypeConverter}</value>
						<value>${SettingsDefinitionsProductDefinitionsConverter}</value>
						<value>${SettingsDefinitionsDynamicDefinitionsConverter}</value>
						<value>${SettingsDefinitionsDataTypesConverter}</value>
						<value>${SettingsSecurityUserConverter}</value>
						<value>${SettingsSecurityUserGroupConverter}</value>
						<value>${SettingsCatalogPriceGroupConverter}</value>
						<value>${SettingsCatalogProductRelationConverter}</value>
						<value>${ShippingMethodConverter}</value>
						<value>${PaymentMethodConverter}</value>
						<value>${CountryConverter}</value>
						<value>${CurrencyConverter}</value>
						<value>${OrderNumberConverter}</value>
						<value>${SettingsEmailProfileConverter}</value>
						<value>${SettingsEmailProfileTypeConverter}</value>
						<value>${SettingsDefinitionsProductDefinitionConverter}</value>
						<value>${SettingsDefinitionsDynamicDefinitionConverter}</value>
						<value>${SettingsDefinitionsDynamicDefinitionFieldConverter}</value>
						<value>${SettingsDefinitionsProductDefinitionFieldConverter}</value>
						<value>${SettingsDefinitionsDataTypeConverter}</value>
						<value>${SettingsDefinitionsDataTypeEnumConverter}</value>
						<value>${SettingsSecurityUsersConverter}</value>
						<value>${SettingsSecurityUserGroupsConverter}</value>

						<!--Default Converter most always be the last converter.-->
						<value>${DefaultConverter}</value>
					</array>
				</treeNodeConverters>
			</parameters>
		</component>

		<component id="CatalogRootNodeConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.CatalogRootNodeConverter, UCommerce.Umbraco7" />

		<component id="CatalogSearchConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.CatalogSearchConverter, UCommerce.Umbraco7" />

		<component id="ProductCatalogGroupConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.ProductCatalogGroupConverter, UCommerce.Umbraco7" />

		<component id="ProductCatalogConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.ProductCatalogConverter, UCommerce.Umbraco7" />

		<component id="ProductCategoryConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.ProductCategoryConverter, UCommerce.Umbraco7" />

		<component id="OrdersConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.OrdersConverter, UCommerce.Umbraco7" />

		<component id="OrderGroupConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.OrderGroupConverter, UCommerce.Umbraco7" />

		<component id="OrdersSearchConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.OrdersSearchConverter, UCommerce.Umbraco7" />

<component id="CampaignItemConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.CampaignItemConverter, UCommerce.Umbraco7" />

		<component id="CampaignConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.CampaignConverter, UCommerce.Umbraco7" />
		
		<component id="MarketingProductCatalogGroupConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.MarketingProductCatalogGroupConverter, UCommerce.Umbraco7" />

		<component id="MarketingConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.MarketingConverter, UCommerce.Umbraco7" />

<component id="AnalyticsConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.AnalyticsConverter, UCommerce.Umbraco7" />

		<component id="OrderanalyticsConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.OrderanalyticsConverter, UCommerce.Umbraco7" />

		<component id="ProductanalyticsConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.ProductanalyticsConverter, UCommerce.Umbraco7" />

		<component id="SettingsConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsConverter, UCommerce.Umbraco7" />

		<component id="SettingsCatalogConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsCatalogConverter, UCommerce.Umbraco7" />

		<component id="SettingsAppsConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsAppsConverter, UCommerce.Umbraco7" />

		<component id="SettingsAppsInstallerConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsAppsInstallerConverter, UCommerce.Umbraco7" />

		<component id="SettingsOrdersConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsOrdersConverter, UCommerce.Umbraco7" />

		<component id="SettingsEmailConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsEmailConverter, UCommerce.Umbraco7" />

		<component id="SettingsDefinitionsConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsDefinitionsConverter, UCommerce.Umbraco7" />

		<component id="SettingsSecurityConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsSecurityConverter, UCommerce.Umbraco7" />

		<component id="SettingsSearchConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsSearchConverter, UCommerce.Umbraco7" />

		<component id="SettingsCatalogPriceGroupsConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsCatalogPriceGroupsConverter, UCommerce.Umbraco7" />

		<component id="SettingsCatalogProductRelationsConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsCatalogProductRelationsConverter, UCommerce.Umbraco7" />

		<component id="SettingsOrdersShippingMethodsConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsOrdersShippingMethodsConverter, UCommerce.Umbraco7" />

		<component id="SettingsOrdersPaymentMethodsConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsOrdersPaymentMethodsConverter, UCommerce.Umbraco7" />

		<component id="SettingsOrdersCountriesConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsOrdersCountriesConverter, UCommerce.Umbraco7" />

		<component id="SettingsOrdersCurrenciesConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsOrdersCurrenciesConverter, UCommerce.Umbraco7" />

		<component id="SettingsOrdersOrderNumbersConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsOrdersOrderNumbersConverter, UCommerce.Umbraco7" />

		<component id="SettingsEmailProfilesConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsEmailProfilesConverter, UCommerce.Umbraco7" />

		<component id="SettingsEmailTypesConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsEmailTypesConverter, UCommerce.Umbraco7" />

		<component id="SettingsEmailTypeConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsEmailTypeConverter, UCommerce.Umbraco7" />

		<component id="SettingsDefinitionsProductDefinitionsConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsDefinitionsProductDefinitionsConverter, UCommerce.Umbraco7" />

		<component id="SettingsDefinitionsDynamicDefinitionsConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsDefinitionsDynamicDefinitionsConverter, UCommerce.Umbraco7" />

		<component id="SettingsDefinitionsDataTypesConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsDefinitionsDataTypesConverter, UCommerce.Umbraco7" />

		<component id="SettingsSecurityUserConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsSecurityUserConverter, UCommerce.Umbraco7" />

		<component id="SettingsSecurityUserGroupConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsSecurityUserGroupConverter, UCommerce.Umbraco7" />

		<component id="SettingsCatalogPriceGroupConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsCatalogPriceGroupConverter, UCommerce.Umbraco7" />

		<component id="SettingsCatalogProductRelationConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsCatalogProductRelationConverter, UCommerce.Umbraco7" />

		<component id="ShippingMethodConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.ShippingMethodConverter, UCommerce.Umbraco7" />

		<component id="PaymentMethodConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.PaymentMethodConverter, UCommerce.Umbraco7" />

		<component id="CountryConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.CountryConverter, UCommerce.Umbraco7" />

		<component id="CurrencyConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.CurrencyConverter, UCommerce.Umbraco7" />

		<component id="OrderNumberConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.OrderNumberConverter, UCommerce.Umbraco7" />

		<component id="SettingsEmailProfileConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsEmailProfileConverter, UCommerce.Umbraco7" />

		<component id="SettingsEmailProfileTypeConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsEmailProfileTypeConverter, UCommerce.Umbraco7" />

		<component id="SettingsDefinitionsProductDefinitionConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsDefinitionsProductDefinitionConverter, UCommerce.Umbraco7" />

		<component id="SettingsDefinitionsDynamicDefinitionConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsDefinitionsDynamicDefinitionConverter, UCommerce.Umbraco7" />

		<component id="SettingsDefinitionsDynamicDefinitionFieldConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsDefinitionsDynamicDefinitionFieldConverter, UCommerce.Umbraco7" />

		<component id="SettingsDefinitionsProductDefinitionFieldConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsDefinitionsProductDefinitionFieldConverter, UCommerce.Umbraco7" />

		<component id="SettingsDefinitionsDataTypeConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsDefinitionsDataTypeConverter, UCommerce.Umbraco7" />

		<component id="SettingsDefinitionsDataTypeEnumConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsDefinitionsDataTypeEnumConverter, UCommerce.Umbraco7" />

		<component id="SettingsSecurityUsersConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsSecurityUsersConverter, UCommerce.Umbraco7" />

		<component id="SettingsSecurityUserGroupsConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.SettingsSecurityUserGroupsConverter, UCommerce.Umbraco7" />

		<component id="DefaultConverter"
				   service="UCommerce.Umbraco7.Menu.TreeNodeConverter.ITreeNodeConverter, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.TreeNodeConverter.Impl.DefaultConverter, UCommerce.Umbraco7" />

		<!-- Option Handlers -->
		<component
			id="OptionAggregator"
			service="UCommerce.Umbraco7.Menu.OptionHandlers.IOptionHandler, UCommerce.Umbraco7"
			type="UCommerce.Umbraco7.Menu.OptionHandlers.Impl.OptionAggregator, UCommerce.Umbraco7">
			<parameters>
				<optionHandlers>
					<array>
						<value>${CreateOptionHandler}</value>
						<value>${DeleteOptionHandler}</value>
						<value>${RefreshOptionHandler}</value>
						<value>${SeperatorOptionHandler}</value>
						<value>${CategorySortOptionHandler}</value>
						<value>${ProductSortOptionHandler}</value>
						<value>${ProductDefinitionFieldsSortHandler}</value>
						<value>${CatalogSortOptionHandler}</value>
						<value>${ProductDefinitionRelationsSortOptionHandler}</value>
						<value>${DefinitionRelationsSortHandler}</value>
						<value>${PrioritizeCampaignItemsOptionHandler}</value>
						<value>${PrioritizeCampaignsOptionHandler}</value>
						<value>${DefinitionFieldsSortHandler}</value>
					</array>
				</optionHandlers>
			</parameters>
		</component>

		<component id="CreateOptionHandler"
				   service="UCommerce.Umbraco7.Menu.OptionHandlers.IOptionHandler, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.OptionHandlers.Impl.CreateOptionHandler, UCommerce.Umbraco7" />
		
		<component id="DeleteOptionHandler"
				   service="UCommerce.Umbraco7.Menu.OptionHandlers.IOptionHandler, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.OptionHandlers.Impl.DeleteOptionHandler, UCommerce.Umbraco7" />

		<component id="RefreshOptionHandler"
				   service="UCommerce.Umbraco7.Menu.OptionHandlers.IOptionHandler, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.OptionHandlers.Impl.RefreshOptionHandler, UCommerce.Umbraco7" />

		<component id="SeperatorOptionHandler"
				   service="UCommerce.Umbraco7.Menu.OptionHandlers.IOptionHandler, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.OptionHandlers.Impl.SeperatorOptionHandler, UCommerce.Umbraco7" />
		
		<component id="CategorySortOptionHandler"
				   service="UCommerce.Umbraco7.Menu.OptionHandlers.IOptionHandler, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.OptionHandlers.Impl.CategorySortOptionHandler, UCommerce.Umbraco7" />
		
		<component id="ProductSortOptionHandler"
				   service="UCommerce.Umbraco7.Menu.OptionHandlers.IOptionHandler, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.OptionHandlers.Impl.ProductSortOptionHandler, UCommerce.Umbraco7" />

		<component id="CatalogSortOptionHandler"
				   service="UCommerce.Umbraco7.Menu.OptionHandlers.IOptionHandler, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.OptionHandlers.Impl.CatalogSortOptionHandler, UCommerce.Umbraco7" />

		<component id="PrioritizeCampaignItemsOptionHandler"
				   service="UCommerce.Umbraco7.Menu.OptionHandlers.IOptionHandler, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.OptionHandlers.Impl.PrioritizeCampaignItemsOptionHandler, UCommerce.Umbraco7" />

		<component id="PrioritizeCampaignsOptionHandler"
				   service="UCommerce.Umbraco7.Menu.OptionHandlers.IOptionHandler, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.OptionHandlers.Impl.PrioritizeCampaignsOptionHandler, UCommerce.Umbraco7" />

<component id="ProductDefinitionFieldsSortHandler"
				   service="UCommerce.Umbraco7.Menu.OptionHandlers.IOptionHandler, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.OptionHandlers.Impl.ProductDefinitionFieldsSortHandler, UCommerce.Umbraco7" />

		<component id="ProductDefinitionRelationsSortOptionHandler"
				   service="UCommerce.Umbraco7.Menu.OptionHandlers.IOptionHandler, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.OptionHandlers.Impl.ProductDefinitionRelationsSortOptionHandler, UCommerce.Umbraco7" />


		<component id="DefinitionRelationsSortHandler"
				   service="UCommerce.Umbraco7.Menu.OptionHandlers.IOptionHandler, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.OptionHandlers.Impl.DefinitionRelationsSortHandler, UCommerce.Umbraco7" />

		<component id="DefinitionFieldsSortHandler"
				   service="UCommerce.Umbraco7.Menu.OptionHandlers.IOptionHandler, UCommerce.Umbraco7"
				   type="UCommerce.Umbraco7.Menu.OptionHandlers.Impl.DefinitionFieldsSortHandler, UCommerce.Umbraco7" />
		
	</components>
</configuration>